body {
/*background-color:black;*/
color:white;
}

#rubrik {
color:lightgreen;
}

a:link {
text-decoration:none;
color:#00FF00;
}

a:visited {
text-decoration:none;
/*color:#A1236C;*/
color:#00FF00;
}

a:hover {
text-decoration:underline;
color:red;
}

#copyright {
color:lightblue;
}

#str {
color:#CFA911;
}

#print {
color:blue;
}

#python_hello {
color:lightblue;
}

#python {
width:200px;
padding:2px;
background-color:black;
}
